table {
	margin: 0 auto;
	width: 50%;
	border: 1px solid darkslategray;
}
th,
td {
	text-align: start;
}
th {
	background: darkslategray;
	color: white;
}
table,
th,
tr {
	border-collapse: collapse;
}
th:last-child {
	text-align: center;
}

td:nth-child(4),
td:last-child {
	text-align: center;
}

tr {
	border-bottom: 1px solid darkslategray;
}

td {
	padding: 2%;
}
